/*CIT 230 - Assignment Portal Css Template */
/*You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box;}



body{
    font-size: 18px;
    line-height: normal;
    font-family: 'Comic Neue', cursive;
    color: #2F4550;
    background-color: #2F4550;
}


h1{
    font-size: larger;
    font-family: 'Comic Neue', cursive;
    line-height: normal;
    text-align: center;
    color: #2F4550;
    background-color:#B8DBD9;

}

header, main, footer {
    margin: 1.25rem auto;
    padding:1.8rem;
    text-align: center;
    background-color:#B8DBD9;
}

img{
    float: right;
    border-radius: 8px;
    width: 150px;
    height: 150px;

}
ul{
    
        clear: both;
      
}

